@font-face {
   font-family: 'GenJyuuGothicL-Monospace-Bold';
   font-display: swap;
   src: url('file:///C:/Users/ST/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-09-23_084714/fonts/GenJyuuGothicL-Monospace-Bold/font.ttf');
}
